.appointment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #000;
  position: relative;
  width: 100%;
  padding: 5px;
  background: linear-gradient(var(--dark-color), #525a61);
  color: white;
}

.set-btn {
  /* margin: 0 32%; */
  align-self: center;
  background: linear-gradient(var(--primary-color), #fcd676);
  font-weight: bold;
  height: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.452);
  border: none;
  margin-top: 5px;
  padding: 0 5px;
}

.close-btn {
  background-color: var(--primary-color);
  font-weight: bold;
  border: none;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
}
