* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
}

p {
  line-height: 1.25;
}

.navbar a {
  text-decoration: none;
  color: var(--light-color);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
}

.btn:hover {
  background-color: darken();
}
.delete:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.edit:hover {
  cursor: pointer;
}

.close {
  padding: 20px;
}

.close:hover {
  cursor: pointer;
}

.timeSlot {
  font-size: 0.6rem;
  margin-top: 0px;
  margin-bottom: 2px;
}

.cell {
  display: flex;
  flex-wrap: wrap;
}

.listCont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.scheduleCont {
  width: 100%;
}

.editLink {
  padding: 0px;
  margin: 0px;
  font-size: 0px;
}

.spacer {
  border: 1px solid black;
}
