* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  font-size: 1rem;
}

p {
  width: 500px;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: var(--light-color)
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
}

.btn:hover{
  background-color: darken()
}