:root {
  --primary-color: #febd17;
  --secondary-color: #8c20f8;
  --dark-color: #343a40;
  --light-color: #f2f2f2;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --max-width: 1100px;
}

.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.bg-dark {
  background-color: var(--dark-color);
}
.bg-light {
  background-color: var(--light-color);
}
.bg-danger {
  background-color: var(--danger-color);
}
.bg-success {
  background-color: var(--success-color);
}
.bg-white {
  background-color: #fff;
}
