.built-on {
    height: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 7rem auto 4rem;
}

.tech {
    color:var(--primary-color)
}

.dark-tech {
    color:var(--dark-color)
}
.section-heading {
    margin-bottom: 3rem;
    text-align: center;
    position: relative;
    font-size: 2rem;
}

.section-heading::after {
    content: "";
    width: 10rem;
    height: 0.2rem;
    background-color: black;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}


.stacks {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 300px;
    height: 500px;
}

.stack h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.icon-container {
    width: 5rem;
    height: 5rem;
    border: 4px solid var(--dark-color);
    border-radius: 5px;
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
}

.icon-container i {
    color: #FEBD17;
    font-size: 1.4rem;
    margin: auto;
    transform: rotate(-45deg)
}

.dev-tools {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.dev-tools li {
    list-style: square;
    font-size: 1.4rem;
}

.arrow-content {
    width: 47px;
    border-radius: 55%;
    display: flex;
    margin: 0 auto;
    animation: pulse-2 2s infinite;

}
.arrow-motion {
    color: var(--secondary-color);
    font-size: 3rem;
    margin: 0 auto;

}

@keyframes pulse-2 {
    0%{box-shadow: 0 0 0 0 rgba(224, 196, 253, 0.9)}
    70%{box-shadow: 0 0 0 1rem rgba(140, 32, 248, 0)}
    100%{box-shadow: 0 0 0 0 rgba(254, 189, 23, 0.9)}
}

@media (max-width: 800px) {
    .built-on {
        height: auto;
    }
    .stacks{
        flex-direction: column;
        align-items: center;
    }
    .stack {
        height: auto;
    }
}

@media (max-width: 400px) {
    .stack {
        height: auto;
    }
    .built-on {
        margin: 3rem auto;
    }
    .heading {
        margin-top: 0;
    }
    .icon-container {
        width: 4rem;
        height: 4rem;
    }
}