.settings-container {
  max-width: 500px;
  margin: auto;
  padding: 1rem 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  background-color: var(--dark-color);
  opacity: .9;
  text-align: center;
  color: white;
}