.boxCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 175px;
  width: 200px;
  box-shadow: 0 3px 20px #555555;
  border-radius: 5px;
  font-size: 0.8rem;
	background-color: white;

	@media screen and (max-width: 601px) {
		position: fixed;
		top: 33%;
		left: 20%;
		width: 73%;
		z-index: 200;
	}
}
.closeIconEdit {
  width: 100%;
  text-align: right;
  margin-top: 5px;
  margin-right: 5px;
  height: min-content;
  cursor: pointer;
  margin-bottom: 0px;
  height: min-content;
  padding-bottom: 0px;
}

.infoList {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
}

.start {
  width: 100%;
}

.end {
  width: 100%;
}

.duration {
	width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.hours {
  width: 100%;
  padding-left: 15px;
}

.min {
  width: 100%;
  padding-left: 15px;
}

.pending {
	@media screen and (max-width: 601px) {
}
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  border-top: 1px solid #e4e4e4;
  margin-left: 15px;
  margin-right: 15px;
}

.delete {
  text-align: center;
  font-size: 0.8rem;
  border: none;
  border-left: 1px solid #e4e4e4;
  width: 50%;
  background-color: white;
  height: 60%;
	@media screen and (max-width: 601px) {
		height: 39px;
		color: darkred;
		padding-top: 0px;
		font-size: 1.1rem;
	}
}

.delete:hover {
  color: #8c20f8;
}

.edit {
  padding-top: 4px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  width: 50%;
  height: 60%;

	@media screen and (max-width: 601px) {
		color: green;
		padding-top: 3px;
		font-size: 1.1rem;
	}
}

.pending {
  display: flex;
  align-items: center;
}

.fa-check {
  width: 10%;
  margin: 0px;
  padding: 0px;
  padding-left: 7px;
  color: green;
  font-size: 1.5rem;
}

.fa-ban {
  width: 10%;
  margin: 0px;
  padding: 0px;
  padding-left: 7px;
  color: red;
  font-size: 1.5rem;
}
