.calendar {
  width: 60%;
  border: 15px solid var(--dark-color);
}

.calendar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  height: 40px;
  background-color: var(--dark-color);
  color: var(--light-color);
}

.calendar-nav div:not(.nav-month) {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 2rem;
}

.nav-month {
  text-align: center;
  width: 60%;
  padding: 0 20px;
}

.day-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: var(--dark-color);
  color: var(--light-color);
}

.cell-container {
  display: grid;
  grid-template-columns: repeat(7, minmax(30px, auto));
  grid-auto-rows: minmax(50px, 65px);
}

.cell,
.day-container .day-cell {
  border: 1px solid var(--primary-color);
  position: relative;
}

.cell {
  padding: 8px;
}

.day-cell {
  text-align: center;
  font-size: 1.2rem;
}

.cell::before {
  content: '';
  position: absolute;
  border: 3px solid rgba(0, 0, 0, 0.03);
  top: 2px;
  left: 2px;
  width: 100%;
  height: 100%;
}

.cell.selected {
  background-color: #febd178c;
}

.cell.disable {
  opacity: 0.25;
}

.cell.available {
  border: 3px solid green;
}

@media (max-width: 400px) {
  .day-cell {
    font-size: 0.8rem;
  }
  .cell {
    padding: 5px;
    font-size: 0.8rem;
  }
}
