.calendar {
  width: 60%;
  max-width: 750px;
  /* margin: 0 20px; */
  /* max-height: 70vh; */
}

.calendar-nav {
  display: flex;
  justify-content: center;
}

.nav-month {
  padding: 0 20px;
}

.day-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.dayCont {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.cell-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 10.5vh;
}

.cell {
  height: 9vh;
  overflow: hidden;
}

.day-cell {
  border: 1px solid #000;
}

.day-cell {
  text-align: center;
}

.spacer.selected {
  background-color: #e4e4e4;
  z-index: 100;
}

.cell.selected {
  background-color: #e4e4e4;
  height: max-content;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.cell.disable {
  opacity: 0.25;
}
