.feedback-body-contractor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  letter-spacing: 1.2px;
}

.feedback-body h2 {
  text-align: center;
}
.contractor-feedback-container {
  padding: 1rem 2rem;
  margin: 1rem;
  border-bottom: 2px solid var(--secondary-color);
  color: black;
  width: 80%;
}

.feedback-header {
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
}

.contractor-feedback-context {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.quotes {
  font-style: bold;
  font-weight: 300;
  font-size: 1.5rem;
}

.fullstar {
  color: var(--primary-color);
}

/* @media (max-width: 1000px) {
  .contractor-feedback-container {
    width: 600px;
  }
}

@media (max-width: 800px) {
  .contractor-feedback-container {
    width: 80%
  }
} */