.feedback-body-user {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  letter-spacing: 1.2px;
}

.main-header-title {
  text-align: center;
}

.feedback-form-header {
  text-align: center;
  font-size: 1.5rem;
}

.form-boxes {
  display: flex;
}

.form-box {
  justify-content: space-evenly;
  width: 50%;
}

.box-2 {
  margin-top: 1rem;
}
.legend {
  display: flex;
  flex-direction: column-reverse;
}
.feedback-form-container {
  padding: 1rem 2rem;
  background-color: #f2f2f2;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 70%;
}

.feedback-form-container h2 {
  color: var(--primary-color);
  font-size: 2rem;
}
.user-feedback-container {
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--secondary-color);
  color: black;
  width: 75%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.feedback-user-header {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.feedback-h6 {
  font-size: 1rem;
}

.select {
  padding: 5px 3px;
  width: 13rem;
  margin: 1rem 0;
}
.form-textarea {
  width: 100%;
  height: 150px;
  margin-top: 1rem;
}

.posted-user {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.icon-text {
  font-size: 2rem;
}

.helper-tool {
  display: none;
  font-size: 1rem;
  color: red;
}

.fa-trash {
  color: var(--danger-color);
  font-size: 1.5rem;
  cursor: pointer;
  text-align: right;
}

.fa-trash:hover {
  opacity: .8;
}

.fa-trash:hover .helper-tool{
  display: flex;
}

@media (max-width:1000px) {
  .feedback-form-container {
    width: 95%;
  }
  .user-feedback-container {
    width: 95%;
  }
}
@media (max-width: 800px) {
  .appointment-heading h4 {
    font-size: 1.5rem;
  }
  .appointment-body {
    flex-direction: column;
  }
  .feedback-container h2 {
    font-size: 1.5rem;
  }
  .feedback-container {
    width: 95%;
  }
  .form-boxes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-box {
    width: auto;
  }
  .delete-btn {
    display: none;
  }
}

@media (max-width: 400px) {
  .main-body {
    margin-right: 0rem;
  }
  .feedback-form-container {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .icon-text {
    font-size: 1.2rem;
  }
  .select {
    width: 95%;
  }
  .appointment-info {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .appointment-heading {
    margin-left: 0.2rem;
  }
  .appointment-heading h4 {
    font-size: 1rem;
    margin-left: 1rem;
  }
  .appointment-body {
    flex-direction: column;
  }
  .appointment-item h4 {
    font-size: 1rem;
  }
  .feedback-container h2 {
    font-size: 1rem;
  }
  .feedback-container {
    padding: 1rem 1rem;
  }
  .feedback-body {
    font-size: 0.8rem;
  }
  .page-numbers a {
    font-size: 0.8rem;
  }
}
