* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.landing {
    position: relative;
    background-image: url('./calendar1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.dark-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}

.landing-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.landing-inner h1 {
    font-size: 4rem;
}

.landing-inner p {
    font-size: 1.3rem;
    margin: 1rem 0;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #FFF;
}

.button {
    margin-top: 1rem;
    position: relative;
}
.btn-light {
    background-color: var(--light-color);
    color: #000;
}

.arrow {
    position: absolute;
    bottom: 2.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
}
.arrow-bounce {
    color: var(--secondary-color);
    font-size: 3rem;
    margin: 0 auto;
    animation: bounce .8s infinite ease-in-out;
}

@keyframes bounce{
    0%{}
    50%{transform: translate(0, 20px);}
}

@media (max-width:400px) {
    .landing-inner h1 {
        font-size: 2.5rem;
    }
}