.sideNav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 64px;
    left: 0px;
    background-color:#4e4e4e;
    text-decoration: none;
    padding-top: 4rem;
    font-size: 20px;
}

.side-link {
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}

.sideNav a,
.sideNav button {
    color: #FFFFFF;
    padding: 1rem 1rem;
    border: none;
    font: inherit;
    background: transparent;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
}

.sideNav a:hover,
.sideNav a:active,
.sideNav button:hover,
.sideNav button:active {
    background: #FFFFFF;
    color: #8C20F8;
    border-radius: 5px;
}

@media screen and (max-height: 450px) {
    .sideNav { padding-top: 15px }
    .sideNav a { font-size: 18px }
}