header {
  position: relative;
}
.sideNav {
  height: 100%;
  width: var(--nav-bar-width);
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--dark-color);
  text-decoration: none;
  padding-top: 4rem;
  font-size: 20px;
  z-index: 1;
}

.side-link {
  display: flex;
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.current {
  color: var(--primary-color);
}

.sideNav a {
  padding: 1rem 1rem;
  border: none;
  font: inherit;
  background: transparent;
  cursor: pointer;
  margin: 0 auto;
}

.sideNav a:hover {
  color: #8c20f8;
}

@media (max-width: 800px) {
  .side-listing {
    display: none;
  }

  .sideNav {
    width: var(--nav-bar-width-mobile);
  }

  .sideNav a {
    text-align: center;
  }
  .sideNav a:hover .side-listing {
    display: inline-block;
    color: var(--primary-color);
    font-size: 16px;
    background-color: var(--dark-color);
  }
}
@media (max-width: 500px) {
}
