.sideNav {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--dark-color);
  text-decoration: none;
  padding-top: 4rem;
  font-size: 20px;
}

.side-link {
  display: flex;
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

.current {
  color: var(--primary-color)
}

.sideNav a{
  padding: 1rem 1rem;
  border: none;
  font: inherit;
  background: transparent;
  cursor: pointer;
  margin: 0 auto;

}

.sideNav a:hover {
  color: #8C20F8;
}

@media (max-width: 600px) {

  .side-listing {
    display: none;
  }

  .sideNav {
    width: 60px;
  }

  .sideNav a {
    text-align: center;
  }
}